{% extends 'vehiculo/base.html' %}

{% block title %}Inicio - Catálogo de Vehículos{% endblock %}

{% block content %}
<div class="text-center">
  <h1><span style='font-size:40px;'>&#128757;</span> Bienvenido al Catálogo de Vehículos <span style='font-size:40px;'>&#128663;</span></h1>
  <p>Aquí puedes agregar y gestionar tus vehículos.</p>
  <div class="container mt-4">
    {% load static %}
    <img
      src="{% static 'vehiculo/img/reaching_sky.avif' %}"
      alt="Imagen"
      class="imagen"
      onclick="reproducirMusica()"
    /><p>Clic en la imagen: 🖱️</p>
  </div>
</div>
<script>
  function reproducirMusica() {
      var audio = new Audio("{% static 'vehiculo/media/01%20Capcom%20Logo.mp3' %}");
      audio.play();
  }
</script>
{% endblock %} cd proyect
