{% extends 'vehiculo/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <p class="text-center mt-3">
                        ¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>
                    </p>
                </div>
            </form>
            <h1>Usuarios Predeterminados</h1>
            <div>
                <p><button popovertarget="mypopover" type="button" class="btn btn-primary" onclick="copyToClipboard('agregar')">Copiar</button> agregar (puede agregar vehículos) </p>
                <p><button popovertarget="mypopover" type="button" class="btn btn-primary" onclick="copyToClipboard('ver_modelo')">Copiar</button> ver_modelo (puede ver el listado) </p>
                <p><button popovertarget="mypopover" type="button" class="btn btn-primary" onclick="copyToClipboard('visita')">Copiar</button> visita (un visitante)</p>

                <div id="mypopover" popover></div>
            </div>

            <h1>Clave común</h1>
            <div>
                <p><button popovertarget="mypopover"  type="button" class="btn btn-primary" onclick="copyToClipboard('clave123')">Copiar</button> clave123 (clave creativa)</p>
            </div>

            <h1>Admin - God</h1>
            <p>user: leadmin</p>
            <p>pass: checkpass</p>
                       
            <script>
                function copyToClipboard(text) {
                    navigator.clipboard.writeText(text).then(() => {
                        const popover = document.getElementById('mypopover');
                        popover.textContent = 'Texto (' + text + ') copiado correctamente';
                    });
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}